<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        @*<h1>Welcome</h1>*@
        <p>Welcome <span class="typed" data-typed-items="to the plant information website"></span></p>
    </div>
</section><!-- End Hero --> 

