@model Galery
@{
    ViewData["Title"] = "UpdateGalery";
    Layout = "~/Views/Shared/_AdminsLayout.cshtml";
}

<h1 style="text-align:center;">Update</h1>
<form method="post">
    <input type="hidden" asp-for="galeryid" />
    <label>Title</label>
    <input type="text" asp-for="title" class="form-control" autocomplete="off" />

    <br />

    <label>Images</label>
    <input type="text" asp-for="img" class="form-control" autocomplete="off" />

    <br />
    <button class="btn btn-info">Update</button>
</form>



