<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Register Page</title>
    <link rel="stylesheet" href="~/Login_Register_Tema/dist/style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <body>
        <section class="container">
            <div class="login-container">
                <div class="circle circle-one"></div>
                @RenderBody()
                <div class="circle circle-two"></div>
            </div>
            <div class="theme-btn-container"></div>
        </section>
    </body>
    <!-- partial -->
    <script src="~/Login_Register_Tema/dist/script.js"></script>
</body>
</html>
