@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Shared/_AdminsLayout.cshtml";
}

<h1 style="text-align:center;">Update</h1>
<form method="post">
    <input type="hidden" asp-for="aboutid"/>
    <label>Text</label>
    <textarea type="text" asp-for="text" class="form-control" autocomplete="off" rows="5"></textarea>

    <br />

    <label>Images</label>
    <input type="text" asp-for="img" class="form-control" autocomplete="off" />

    <br />
    <button class="btn btn-info">Update</button>
</form>

